@model IEnumerable<MatejCervelinMvcProjekt.Models.Grad>

@{
    ViewBag.Title = "PregledGradova";
}


<div class="header">
    @Html.Partial("_LogoutPartialView")
</div>

<div class="formArea container" id="largeForm">

    <h2>PregledGradova</h2>
    <p class="dark_blue">
        @Html.ActionLink("Kreiraj novi grad", "Create", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Nazad na pregled država", "PregledDrzava", "Drzava", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDGrad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                Drzava
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDGrad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.Action("DohvatiNazivDrzave", new { drzavaId = item.DrzavaID })
                </td>
                <td>
                    <p class="btn-group-horizontal">
                        @Html.ActionLink("Pregled kupaca", "PregledKupaca", "Kupac", new { gradId = item.IDGrad }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Uredi grad", "Edit", new { gradId = item.IDGrad }, new { @class = "btn btn-primary" })
                        @*@Html.ActionLink("Delete", "Delete", new { gradId = item.IDGrad }, new { @class = "btn btn-danger" })*@
                    </p>
                </td>
            </tr>
        }

    </table>

</div>