@model IEnumerable<MatejCervelinMvcProjekt.Models.Kupac>

@{
    ViewBag.Title = "PregledKupaca";
}

<div class="header">
    @Html.Partial("_LogoutPartialView")
</div>

<div class="formArea container" id="largeForm">

    <h2>PregledKupaca</h2>
    <p class="dark_blue">
        @Html.ActionLink("Kreiraj novog kupca", "Create", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Nazad na pregled država", "PregledDrzava", "Drzava", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDKupac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    Grad
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PunoIme)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDKupac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.Action("DohvatiNazivGrada", new { gradId = item.GradID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PunoIme)
                    </td>
                    <td>
                        <p class="btn-group-vertical">
                            @Html.ActionLink("Dohvati račune", "PregledRacuna", "Racun", new { idKupac = item.IDKupac }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Uredi Kupca", "Edit", new { idKupac = item.IDKupac }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Delete", "Delete", new { idKupac = item.IDKupac }, new { @class = "btn btn-danger" })*@
                        </p>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <script>
        $("table.table").DataTable();
    </script>
}